@import url("reset.css");

/*Fonts*/
@import url("https://use.typekit.net/ukj8jpt.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto:ital@0;1&display=swap');


html, body{
    font-family: Roboto, sans-serif; 
    height: 100%;  
}

/*Header*/

header, footer{
    background: rgb(5,245,255);
    background: linear-gradient(90deg, rgba(5,245,255,1) 0%, rgba(13,128,217,1) 100%);
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    flex: 100;  
    padding: 1rem 5rem 0 4rem;
}

header img{
    height: 50px;
    cursor: pointer;
    margin-left: auto;
}

header a{
    font-size: 30px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #033459;    
}
.longList{
    list-style: none;
    display: flex;
}

/*Footer*/
footer{
    vertical-align: middle;
    flex-shrink: 0;
}

footer ul{
    vertical-align: middle;
}

.socialIcons{
    width: 2.2rem;
    padding: 0 1rem 1rem 1rem;
}

/*Text Grouping thing*/
.nameIntro{
    font-size: 2rem;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.monoFont{
    font-family: courier-prime, monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 70%;
}

.p2{
    margin-left: 3rem;
    white-space: wrap
}

.fancyFont{
    font-family: minion-3, serif;
    font-weight: 500;
    font-style: italic;
}

.pink{
    color: #d916f2
}

/*Main Body formatting*/
main{
    min-height: 100%;
}

.hundred{
    flex: inherit;
    display: inherit;
    flex-flow: inherit;
    align-items: inherit;
    height: 100vh;  
    align-items: center;
    justify-content: center;
}
.mainBody{  
    margin: 0 5rem 5rem 5rem;
    flex-flow: row wrap;
    align-items: center;
    display: flex;
}

.gapBot{
    margin-bottom: 5%;
}

.gapTop{
    margin-top: 5%;
}

h2{
    font-family: courier-prime, monospace;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 6%;
    margin-left: 2rem;
    color:#d916f2;
}

.half{
    flex: 1;
    width: 50%;
}

.bigFlow{
    width: 100%;
}

h3{
    margin-left: 3.5rem;
    margin-top: 1rem;
    font-family: futura-pt, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color:#033459;
}

.list{
    list-style: none;
    margin-left: 5rem;
    font-size: 1.4rem;
}

main li, a{
    font-size: 1.15rem;
}
main a{
    color: #d916f2;   
    text-decoration: none;
    font-weight: 550;
    margin-left: 3.5rem;
}
main a:visited{
    color: #5D0AFC;
}

/*Main Image*/
#mainimage{
    height: 50%;
    width: 50%;
}

.imgmargin{
    margin-left: 5rem;
}

figcaption{
    font-size: 1.7rem;
}

/*About me*/
.paragraph{
    font-size: 1.25rem;
    margin-left: 5rem;
    margin-right: 6rem;
    margin-top: 1rem;
}
#aboutme{
    flex-flow: row wrap;
    flex-wrap: wrap;
    display: flex;
}

.sev{
    flex: 1;
    width: 70%;
}

.third{
    flex: 1;
    width: 30%;
}

.links{
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color:#033459;
}

.linkMargin{
    margin:1%;
}


/*login*/

legend{
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color:#033459;
}

.mainForm{    
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    background: hsl(202, 8%, 80%);
    margin: 5% auto;
    border-radius: 1.5rem;
    width: 30rem;
}

.mainField{
    margin: 10px;
    padding: 10px;
    width: 90%;
    text-align:center;
    align-items: center;
}

.inBox{
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 0;
}

.submitButton{
    background: #033459;
    color: white;
    border-width: 0;
    padding: 1em;
    border-radius: 1rem;
    width: 25%;
    margin: 1rem;
}

/*Add Blog*/
textarea{
    resize: none;
    border: 0;
    border-radius: 1rem;  
    padding: 1rem;
    font-size: 1.1rem; 
    font-family: sans-serif;
    font-size: 1rem;
    width: 80%;
}

.blogField{
    margin: 1rem;
    padding: 1rem;
}

.title{
    width: 80%;
    border-radius: 1rem;
    border-width: 0;
    font-size: 1rem;
}

.blogBox{
    background: hsl(202, 8%, 80%);
    text-align: center;
    border-radius: 1.5rem;
    height: fit-content;
    width: 60%;
    margin: 1% auto;
}

/*Mobile*/
#logoSmall{
    display: none;
}

#mobileNav{
       display: none;
}

/*Projects*/


@media only screen and (max-width: 955px) {
    
    .mainBody{
        flex-direction: column;
        margin: 2rem;
    }

    #navelements{
        display: none;
    }

    .nameIntro{
        margin-left: 0;
        font-size: 1.6rem;
        width: 66%;
    }

    .monoFont{
        font-size: 3.5rem;
    }

    .webBreak{
        display: none;
    }

    #mainimage{
        width: 100%;
    }

    .imgmargin{
        margin-top: 20%;
        margin-left: 0;
    }

    #logoLong{
        display: none;
    }

    #logoSmall{
        display: inline-flex;
    }

    #mobileNav{
        display: inline-flex;
    }
    
    .socialIcons{
        width: 2rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    #aboutme{
        flex-direction: column;
        margin: 2rem;
    }

    .paragraph{
        margin-left: 0;
        margin-right: 0;
    }

    h2{
        margin: 0;
    }

    h3{
        margin-left: 0;

    }
    .sev, .third{
        width: 100%;
    }
    .list{
        list-style: none;
        margin-left: 1rem;
        font-size: 1.4rem;
    }
    .list li{
        margin: 0.5rem;
    }

    .mainForm{
        width: 90%;
    }
    .hundred{
        height: auto;
    }
}