@import url("../css/reset.css");
@import url("https://use.typekit.net/ukj8jpt.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto:ital@0;1&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Roboto, sans-serif;   
}

.banner{

    background: rgb(5,245,255);
    background: linear-gradient(90deg, rgba(5,245,255,1) 0%, rgba(13,128,217,1) 100%);

    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

nav{
    order: 1;
}

.banner img{
    height: 50px;
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.banner a{
    font-size: 30px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: white;

}
.banner a:hover{
    color: navy;
    /*color: #F01FD7*/
    
}
.banner ul{
    list-style: none;
    display: flex;
}

.nameIntro{
    position: relative;
    display: inline-block;
    top:5rem;
    left:5rem;
    font-size: 2rem;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.monoFont{
    font-family: courier-prime, monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 70%;
}
