@import url("../css/reset.css");
@import url("https://use.typekit.net/ukj8jpt.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto:ital@0;1&display=swap');


html{
    font-family: Roboto, sans-serif;   
    flex: 100;
}

header{

    background: rgb(5,245,255);
    background: linear-gradient(90deg, rgba(5,245,255,1) 0%, rgba(13,128,217,1) 100%);

    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 30px;

    display: flex;
    justify-content: space-between;
    flex: 100;  

    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 5rem;

}

header img{
    height: 50px;
    cursor: pointer;
    margin-left: auto;
}

header a{
    font-size: 30px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

header a:hover{
    color: navy;
    /*color: #F01FD7*/
    
}
header ul{
    list-style: none;
    display: flex;
}

@media only screen and (max-width: 880px) {
    
    .mainBody{
        flex-direction: column;
    }
    .nameIntro{
        margin-left: 0rem;
        flex: 100;
    }
    #mainimage{
        flex: 100;
    }

}


.nameIntro{
    font-size: 2rem;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.monoFont{
    font-family: courier-prime, monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 70%;
}

.p2{
    position: relative;
    left:3rem;
}

.fancyFont{
    font-family: minion-3, serif;
    font-weight: 500;
    font-style: italic;
}
.pink{
    color: #d916f2
}

.mainBody{
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.main2{
    display: inline-block;
}

#mainimage{
    margin: 2rem;
    height: 60%;
    width: 50%;
}

.half{
    flex: 50;
    justify-content: center;
}